*.o
*.obj
*.exe
*.cf
*~alu_tb.o
*~alu_tb.exe
*~alu_tb.cf
build/
*.log
*.lst
*~*
.*/
testbenchs/vectors/
build/
import_synplify_summary.txt
processor-8bits.xpr
processor-8bits.cache/wt/project.wpc
processor-8bits.hw/processor-8bits.lpr
processor-8bits.srcs/sources_1/bd/design_1/design_1.bd
